.course{
    text-align: left;
    background-color: rgb(245, 245, 245);
    box-shadow: 5px 5px 8px rgb(218, 218, 218);
    margin: 20px;
    border-radius: 20px;
}
.course-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.course-info{
    width: 70%;
}
.course-card .course-image{
    width: 30%;
}
img{
    width: 100%;
    border-radius: 20px;
}
.learn-more{
    margin-top: 10px;
    font-size: .7rem;
}
small{
    display: block;
    margin: 10px auto;
}
