*{
    margin: 2px;
    padding: 0;
}
.header{
    display: flex;
    background: rgb(241, 241, 241);
    justify-content: space-around;
    line-height: 50px;
    align-items: center;
}
.menu{
    font-weight: 500;
    font-size: 1.2rem;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li {
    margin-left: 20px;
}
.menu ul li:hover{
    background-color: lightgray;
}
.menu ul li a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}
span{
    color: rgb(14, 169, 241);
}